.background {
  background-color: #bcbcbc;
  background-image: url('/Update_13.6.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  background-color: #00000070;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  color: white;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

.imagesDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff70;
  border-radius: 2rem;
  height: 50%;
  width: 60%;
  max-width: 50rem;
  
  @media (max-width: 768px) {
    flex-direction: column;
    height: 60%;
    width: 80%;
  }
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30rem;
}

.image {
  object-fit: contain;
  border-radius: 2rem;
}

.subtitle {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  text-align: center;
  margin-top: 1rem;
  font-weight: 600;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.imageContainer {
  width: 80%;
  height: 80%;
  position: relative;
  max-width: 35rem;
  max-height: 35rem;
}